/*COMMON STYLE*/
.wrapper{
    font-family: sans-serif;
    background-color: #313131;
    /*font-family: "Georgia"; -  подключен другой шрифт, поскольку этот везде платный*/
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.wrapper-bg{
    background-color: #FFFFFF;
}

.btn{
    border-radius: 7px;
    background-color: #a7c353;
    text-transform: capitalize;
    border: none;
    padding: 8px;
    font-size: 15px;
    width: 80px;
    height: 31px;
}

.line{
    width: 100%;
    height: 1px;
}

.color-line{
    background-color: #a7c353;
}

.hidden {
    display: none;
}

/*HEADER STYLE*/
.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 32px;
    color: #666666;
    padding: 20px 0 5px 0;
}

.logo-title{
    font-size: 12px;
    color: #999999;
}

.header__burger{
    display: none;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-bar-item{
    font-size: 13px;
    padding: 50px 10px 20px 10px;
}

.nav-bar-link{
    text-decoration: none;
    color: #979797;
    text-transform: uppercase;
}

.nav-bar-item:hover{
    color: #FFFFFF;
    background-color: #a7c353;
}

/*SECTION LOREM*/
.text{
    font-size: 22px;
    color: #666666;
    text-align: center;
    font-style: italic;
    padding: 40px 60px;
    line-height: 31px;
}

/*SECTION CARUSEL*/
.carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.img-carousel{
    margin-left: 10%;
    width: 80%;
    height: 350px;
}

.carousel-item-arrow{
    position: absolute;
    top: 46%;
}

.arrow-left{
    left: 12%;
}

.arrow-right{
    left: 84%;
}

.carousel-item-box{
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50px;
    border: solid 3px #a7c353;
    color: #a7c353;
    font-size: 25px;
}

.carousel-item-box:hover{
    background-color: #a7c353;
    border-radius: 50px;
    border: solid 3px #000000;
    color: #000000;
}

.slider-title{
    position: absolute;
    font-size: 22px;
    line-height: 31px;
    color: #ffffff;
    text-align: center;
    width: 350px;
    height: 40px;
    background-color: #a7c353;
    top: 60%;
    right: 16%;
    padding-top: 3px;
}

.slider-text{
    position: absolute;
    width: 350px;
    height: 68px; 
    background-color: #ffffff;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    top: 74%;
    right: 16%;
    padding: 3px 7px;
    box-sizing: border-box;
}

.carousel-dot{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.carousel-dot-item{
    border-radius: 50%;
    background: #a7c353;
    border: solid 2px #a7c353;
    width: 15px;
    height: 15px;
    margin: 20px 3px;
}

.carousel-dot-item.active{
    background: #FFFFFF;
}

.carousel-dot-item:hover{
    background: #FFFFFF;
}

/*SECTION ABOUT-US*/
.section-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    padding: 30px 20px;
}

.section-title{
    font-size: 22px;
    line-height: 26px;
    color: #666666;
    margin: 20px 0;
}

.about-us-img{
    width: 270px;
    height: 140px;
    border: solid black 1px;
    padding: 2px;
    margin-bottom: 10px;
}

.section-text{
    font-size: 13px;
    line-height: 18px;
    color: #999999;
    padding: 10px 0;
}

.section-link{
    font-size: 13px;
    line-height: 13px;
    color: #a7c353;
}

.our-service-item{
    display: flex;
    margin-bottom: 20px;
}

.our-service-img{
    height: 64px;
    width: 64px;
}

.our-service-wrapper{
    margin-left: 20px;
}

.service-title{
    font-size: 14px;
    line-height: 17px;
    color: #878787;
}

.our-client-say-wrapper{
    margin-top: 20px;
}

.our-client-say-title{
    padding-left: 60px;
    font-size: 16px;
    line-height: 19px;
    color: #989898;
    position: relative;
}

.our-client-say-title::before{
    content: "\201C";
    position: absolute;
    font-size: 180px;
    display: block;
    left: 8%;
    top: 205%;
    transform: translateX(-50%);
}

/*FOOTER*/
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 90px;
    padding-top: 20px;
}

.footer-containers{
    padding: 15px 0;
}

.footer-title{
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 15px; 
}

.footer-line{
    width: 100%;
    height: 1px;
    background-color: #3a3a3a;
}

.footer-text-wrapper{
    padding: 10px 0;
}

.footer-text{
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

.footer-link{
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

.link-tel{
    color: #999999;
}

.link-mail{
    color: #a7c353;
}

.icon-wrapper{
    display: flex;
    padding: 20px 0;
}

.icon{
    font-size: 18px;
    padding-right: 10px;
    color: #ffffff;
}

.icon-text{
    color: #a7c353;
    font-size: 12px;
    padding-top: 3px;
}

.blog-title{
    font-size: 13px;
    color: #999999;
    padding-top: 10px;
}

.footer-text-blog{
    padding: 8px 0;
}

.link-wrapper{
    text-align: right;
    
}

.link{
    color: #a7c353;
    padding: 10px 0;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.footer-input{
    width: 225px;
    height: 31px;
    border-radius: 7px;
    background-color: #383838;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.footer-textarea{
    resize: none;
    width: 225px;
    height: 110px;
    border-radius: 7px;
    background-color: #383838;
    margin-bottom: 10px;
    font-size: 13px;
    color: #FFFFFF;
}

textarea::-webkit-input-placeholder { font-size: 16px; font-family: sans-serif }
textarea:-moz-placeholder { font-size: 16px; font-family: sans-serif }

.color-line-footer{
    background-color: #3a3a3a;
}

.footer-wrapper-copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-copyright-text{
    font-size: 12px;
    color: #999999;
}

@media (max-width: 767px){
    /*HEADER*/
    .logo{
        padding: 0;
    }

    .header-burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
        top: 10px;
    }

    .header-burger:after,
    .header-burger:before{
        content: '';
        background-color: #a7c353;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header-burger:after{
        bottom: 0;
    }

    .header-burger:before{
        top: 0;
    }

    .header-span{
        position: absolute;
        background-color: #a7c353;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        transition: all 0.3s ease 0s;
        z-index: 5;
    }

    .header-wrapper{
        height: 50px;
    }

    .header-logo{
        flex: 0 0 70px;
    }

    .nav-bar{
        display: block;
    }

    .nav-bar-item{
        margin-bottom: 20px;
        padding: 0;
    }

    .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header-span.active{
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    .header-menu.active{
        top: 57px;
        left: 20px;
    }

    .body.lock{
        overflow: hidden;
    }

    /*SECTION ABOUT-US*/
    .section-wrapper{
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        padding: 10px 10px;
    }
    
    .section-title{
        font-size: 15px;
        line-height: 18px;
        margin: 10px 0;
    }
    
    .about-us-img{
        width: 95%;
        height: auto;
    }
    
    .section-text{
        font-size: 10px;
        line-height: 12px;
        padding: 5px 0;
    }
    
    .section-link{
        font-size: 10px;
        line-height: 12px;
    }
    
    .our-service-item{
        margin-bottom: 10px;
    }
    
    .our-service-img{
        height: 50px;
        width: 50px;
    }
    
    .our-service-wrapper{
        margin-left: 10px;
    }
    
    .service-title{
        font-size: 12px;
        line-height: 15px;
    }
    
    .our-client-say-wrapper{
        margin-top: 5px;
    }
    
    .our-client-say-title{
        padding-left: 40px;
        font-size: 14px;
        line-height: 17px;
    }
    
    .our-client-say-title::before{
        font-size: 80px;
        left: 8%;
        top: 140%;
        transform: translateX(-50%);
    }
    
    /*FOOTER*/
.footer-wrapper{
    grid-column-gap: 20px;
}

.footer-containers{
    padding: 15px 0;
}

.footer-title{
    font-size: 14px;
}

.footer-text{
    font-size: 10px;
    line-height: 14px;
}

.footer-link{
    font-size: 10px;
    line-height: 14px;
}

.icon{
    font-size: 15px;
    padding-right: 5px;
}

.icon-text{
    font-size: 10px;
}

.blog-title{
    font-size: 10px;
}

.footer-input{
    width: 100%;
}

.footer-textarea{
    width: 100%;
    height: 110px;
    font-size: 10px;
}

textarea::-webkit-input-placeholder { font-size: 10px; }
textarea:-moz-placeholder { font-size: 10px; }

.footer-wrapper-copyright{
    padding: 10px 0;
}

.footer-copyright-text{
    font-size: 10px;
}
}

@media (max-width: 450px){
    /*FOOTER*/
    .footer-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(2, 1fr);
    }
}
